<!DOCTYPE html>
<html>

<body>
    <img src="./assets/arrow.svg" class="arrow" />
    <a href="" class="continue">Continue Shopping</a>
    <hr class="line">
    <p class="shopping">Shopping cart</p>
    <p class="have">You have 3 item in your cart</p>
    <img src="./assets/item1.svg" class="item1" />
    <img src="./assets/item2.svg" class="item2" />
    <img src="./assets/item3.svg" class="item3" />
    <img src="./assets/frame.svg" class="frame" />
    <button class="checkout" routerLink="/shop">2350 EGP Checkout <img src="./assets/arrowsmall.svg"
            class="arrowsmall" /></button>
    <p class="email"></p>
</body>


</html>