<!DOCTYPE html>
<html>

<body>
    <img src="./assets/whitehoodie.svg" class="img" />
    <p class="word">Basic White Hoodie</p>
    <p class="size">Size:</p>
    <button><img src="./assets/buttonsmall.svg" class="small" /></button>
    <button><img src="./assets/buttonmedium.svg" class="medium" /></button>
    <button><img src="./assets/buttonlarge.svg" class="large" /></button>
    <button><img src="./assets/buttonxlarge.svg" class="xlarge" /></button>
    <p class="price">500 EGP</p>
    <button class="buy" routerLink="/cart">Add to basket</button>
    <img src="./assets/arrowbig.svg" class="arrow" />
    <a href="" class="continue" routerLink="/shop">Continue Shopping</a>
</body>

</html>
<router-outlet></router-outlet>