<body>
    <p class="fulloutfit">Baby Blue Full Outfit</p>
    <img src="./assets/kawnfulloutfit.svg" class="fulloutfitimg" />
    <p class="fulloutfitprice">1000 EGP</p>
    <button class="fulloutfitbutton" routerLink="/fulloutfit">BUY</button>
    <p class="pants">Mixed Colours Pants</p>
    <img src="./assets/kawnpants.svg" class="kawnpants" />
    <p class="pantsprice">800 EGP</p>
    <button class="pantsbutton" routerLink="/mixedpants">BUY</button>
    <p class="basicwhite">Basic White Hoodie</p>
    <img src="./assets/whitehoodie.svg" class="whitehoodieimg" />
    <p class="whitehoodieprice">500 EGP</p>
    <button class="whitehoodiebutton" routerLink="/basicwhite">BUY</button>
    <p class="beigehoodie">Basic Beige Hoodie</p>
    <img src="./assets/beigehoodie.svg" class="beigehoodieimg" />
    <p class="beigehoodieprice"> 500 EGP</p>
    <button class="beigehoodiebutton" routerLink="/beigehoodie">BUY</button>
    <p class="email">Contact us through kawneg@gmail.com</p>
</body>
<router-outlet></router-outlet>